[build]
  command = "npm install --legacy-peer-deps && npm run build:prod"
  publish = "dist/angular-signals-ticket-dashboard/browser"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

